<div class="container-fuild" style="position: fixed; height: 100%; width: 100%; overflow-y: auto; overflow-x: hidden; background-color:#f4f4f4;">
    <div class="row justify-content-center">
        <div class="col-4 shadow mt-4">
            <div class="col">
                <div class="row">
                    <div class="col-12 p-4 bg-white text-center">
                        <h4 style="color: silver;">ANTRIAN</h4>
                        <h1>{{lastCall.prefix_antrian}}-{{lastCall.no_antrian}}</h1>
                        <h3>{{lastCall.nama}}</h3>
                        <h4 *ngIf="lastCall.norm">No.RM : {{lastCall.norm}}</h4>
                    </div>
                    <div class="col-6 text-center p-3 clickable" (click)="canceled()" style="background-color: silver;">
                        <div class="bi bi-x-lg" style="font-size: 1.5rem; padding-top: 6px;"></div>
                        <div>Tidak Hadir</div>
                    </div>
                    <div class="col-6 text-center p-3 clickable" (click)="recall()" style="background-color: orange;">
                        <div class="bi bi-arrow-clockwise" style="font-size: 1.8rem;"></div>
                        <div>Panggil Lagi</div>
                    </div>
                    <div class="col-12" style="background-color: #3d7daa; color: white;">
                        <div class="row">
                            <div class="col p-4">
                                <div style="color: #73b4e1;">Pasien Selanjutnya :</div>
                                <div *ngIf="dataAntrian[0]">
                                    <div>{{dataAntrian[0].nama}}</div>
                                    <div *ngIf="dataAntrian[0].norm">No. RM : {{dataAntrian[0].norm}}</div>
                                </div>
                            </div>
                            <div class="col p-4">
                                <div style="color: #73b4e1;">No. Antrian :</div>
                                <h2 *ngIf="dataAntrian[0]">
                                    {{dataAntrian[0].prefix_antrian}}-{{dataAntrian[0].no_antrian}}
                                </h2>
                            </div>
                            <div class="col p-4 text-center clickable" (click)="callNext()" style="background-color: #4596cf;">
                                <h4>
                                    <i class="bi bi-volume-up-fill"></i><br>
                                    PANGGIL
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 shadow bg-white m-4 p-3">
            <div class="fs-5 border-bottom mb-2 pb-2">Data Antrian</div>
            <div class="row">
                <div class="col-2">
                    Loket :
                    <div>
                        <select class="form-select" [(ngModel)]="selectedLoket">
                            <option selected></option>
                            <option *ngFor="let item of dataLoket; let i = index" value="{{i+1}}">
                                {{i+1}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    Tanggal :
                    <div>
                        <p-calendar [(ngModel)]="tanggal" dateFormat="dd-mm-yy"></p-calendar>
                    </div>
                </div>
                <div class="col-3">
                    Poliklinik :
                    <select class="form-select" [(ngModel)]="selectedPoli" (ngModelChange)="getJadwalDokter($event)">
                        <option selected></option>
                        <option *ngFor="let item of dataPoli" value="{{item.kode}}">
                            {{item.ket | uppercase}}
                        </option>
                    </select>
                </div>
                <div class="col">
                    Dokter :
                    <select class="form-select" [(ngModel)]="selectedJadwal" (ngModelChange)="getAntrian($event)">
                        <option selected></option>
                        <option *ngFor="let item of dataJadwalPraktek" value="{{item.jadwal}}">
                            ({{item.jadwal}}) {{item.namadokter}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <p-table [value]="dataAntrian" dataKey="id" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>No. RM</th>
                                <th>Kode Booking</th>
                                <th>Nama</th>
                                <th>No. Antrian</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td>{{item.norm}}</td>
                                <td>{{item.booking_code}}</td>
                                <td>{{item.nama}}</td>
                                <td>{{item.prefix_antrian}}-{{item.no_antrian}}</td>
                                <td>
                                    <button *ngIf="rowIndex == 0" [disabled]="!waitingCall" (click)="callNext()" class="btn btn-primary">PANGGIL <i class="bi-volume-up-fill"></i></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div *ngIf="dataAntrian.length == 0" class="text-center alert">Tidak Ada Data Antrian Saat Ini.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-loading></app-loading> -->