<div class="bg-white">
    <div class="row justify-content-center p-3 bg-dark text-white">
        <div class="col-md-10">
            <div class="row">
                <div class="col-auto text-end d-none d-md-block">
                    <img src="assets/logo.png" alt="Logo" style="height: 50px;">
                </div>
                <div class="col d-none d-md-block">
                    <h1 class="fs-3 mb-0">RS. TK.II dr.AK GANI PALEMBANG</h1>
                    <div>PELAYANAN ONLINE TERINTEGRASI</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-10">
            <div class="row border">
                <div class="col-3 text-white p-4 bg-primary" style="position: relative;">
                    <div style="line-height: 2rem; font-size: 2rem; font-weight: 500; min-height: 200px;">
                        SURAT <br>
                        RUJUKAN
                    </div>
                    <div class="d-grid gap-2" style="position: absolute; bottom: 27px; width: 80%;">
                        <button class="btn p-3 btn-outline-light" (click)="back()"><i class="bi bi-chevron-left"></i>&nbsp; KEMBALI</button>
                    </div>
                </div>

                <div class="col p-3">
                    <h5>PILIH SURAT RUJUKAN :</h5>
                    <div class="row" *ngIf="totalRujukanAktif == 0 && !loading">
                        <div class="col p-2">
                            <div class="text-secondary text-center mt-4">
                                <h1><i class="bi bi-exclamation-circle"></i></h1>
                                <div style="font-size: 1.2rem;">
                                    Layanan tidak dapat dilanjutkan. <br>
                                    <div *ngIf="totalRujukanAktif == 0">
                                        Anda tidak memiliki surat rujukan yang aktif.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <ng-container *ngFor="let item of dataRujukan; let i = index" >
                            <div *ngIf="registrasiOnlineService.getExpiredRujukan(item.tglKunjungan).hariExpired > 0"
                                class="col-5 p-3 bg-light rounded border m-2 clickable shadow"
                                pRipple
                                (click)="onSelectedRujukan(item)"
                                [ngClass]="{'selected-rujukan': item.noKunjungan == noRujukan}">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="badge bg-primary" style="font-weight: 500; position: absolute; top: 10px; right: 10px;" *ngIf="rujukan && rujukan.noKunjungan == item.noKunjungan">
                                            <ng-container *ngIf="rujukan.jumlahSep > 0"> Rencana <br>Kontrol</ng-container>
                                            <ng-container *ngIf="rujukan.jumlahSep < 1"> Rujukan <br>Baru</ng-container>
                                        </div>
                                        {{item.noKunjungan}}
                                        <div class="bold">{{item.poliRujukan.nama | uppercase}}</div>
                                    </div>
                                </div>
                                <hr class="mt-1 mb-1 p-0">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <small class="text-muted">Tgl. Rujukan</small>
                                        <div><span>{{registrasiOnlineService.dateHuman(item.tglKunjungan)}}</span></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <small class="text-muted">Asal Rujukan</small>
                                        <div><span>{{item.provPerujuk.nama}}</span></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="font-size: 14px;">
                                        <div class="bg-white border rounded text-center mt-1 p-1">
                                            Berlaku Sampai: {{ registrasiOnlineService.dateHuman(registrasiOnlineService.getExpiredRujukan(item.tglKunjungan).expired) }} ({{registrasiOnlineService.getExpiredRujukan(item.tglKunjungan).hariExpired}} Hari)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" style="font-size: 14px;">
                                        <div class="text-white semibold border rounded text-center mt-1 p-1" [ngClass]="{'bg-primary': item.noKunjungan == noRujukan, 'bg-secondary': item.noKunjungan != noRujukan}">
                                            <span *ngIf="item.noKunjungan == noRujukan"><i class="bi bi-check-circle-fill"></i> TERPILIH</span>
                                            <span *ngIf="item.noKunjungan != noRujukan">PILIH</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="row">
                        <div class="col p-2">
                            <div class="mt-3">
                                <div class="d-grid gap-2">
                                    <button [disabled]="!rujukan" (click)="next()" class="btn fs-5 btn-success p-3" type="button">LANJUTKAN <i class="bi bi-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-error-handle></app-error-handle>