<div class="row justify-content-center pb-5" *ngIf="confirmedPeserta && !jenisKunjungan" @fadeIn>
    <div class="col-10 text-center">
        <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">JENIS KUNJUNGAN</h1>
        <hr>
        <div class="row text-center justify-content-center">
            <div class="col-5 m-2 p-0 pb-3 clickable bg-white shadow border rouned btn-online" pRipple (click)="setJenisKunjungan('rujukan')">
                <h1 class="p-4 pb-1 mt-5 mb-5">RUJUKAN BARU</h1>
                <p class="p-2 ps-4 pe-4 m-0" style="background-color: rgba(0, 0, 0, 0.1);">Untuk pasien lama yang memiliki rujukan baru.</p>
            </div>
            <div class="col-5 m-2 p-0 pb-3 clickable bg-white shadow border rounded btn-tunai" pRipple (click)="setJenisKunjungan('kontrol')">
                <h1 class="p-4 pb-1 mt-5 mb-5">RENCANA KONTROL</h1>
                <p class="p-2 ps-4 pe-4 m-0" style="background-color: rgba(0, 0, 0, 0.1);">Untuk pasien yang dijadwal kontrol oleh dokter.</p>
            </div>
        </div>
    </div>
    <div class="col-10 pt-3 text-end">
        <hr>
        <div class="row">
            <div class="col text-start">
                <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="this.back()" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
            </div>
        </div>
    </div>
</div>