<div style="position: fixed; height: 100%; width: 100%; overflow: hidden;">
    <div class="row justify-content-center p-3 bg-dark text-white">
        <div class="col-md-10">
            <div class="row">
                <div class="col-sm-2 col-md-2 text-end d-none d-md-block">
                    <img src="assets/hesti.png" alt="Logo Salak" style="height: 50px;">
                </div>
                <div class="col-sm-10 col-md-7 d-none d-md-block">
                    <h1 class="fs-3 mb-0">RUMKIT TK II Prof. dr. J.A. LATUMETEN AMBON</h1>
                    <div>PELAYANAN MANDIRI TERINTEGRASI</div>
                </div>
                <div class="col-md-2 d-none d-md-block">
                    <!-- <img src="assets/hesti.png" alt="Logo Salak" height="50px">
                    <img src="assets/kodam.png" alt="Logo Salak" height="50px"> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-8">
            <div class="row border" *ngIf="!success">
                <div class="col-3 text-white p-4 bg-primary" style="position: relative;">
                    <div style="line-height: 2rem; font-size: 2rem; font-weight: 500;">
                        KONFIRMASI <br>
                        DATA
                    </div>
                    <div class="d-grid gap-2" style="position: absolute; bottom: 27px; width: 80%;" *ngIf="!success">
                        <button class="btn p-3 btn-outline-light" (click)="back()"><i class="bi bi-chevron-left"></i>&nbsp; KEMBALI</button>
                    </div>
                </div>
                <div class="col p-4">
                    <div class="row">
                        <div class="col">
                            <div class="fs-4 bold">{{pasien.nama}}</div>
                            <div>{{pasien.alamat}}</div>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="text-muted">NO. BPJS</div>
                            <div class="p-2 bg-light rounded border">
                                {{pasien.noaskes}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-muted">NOMOR RUJUKAN</div>
                            <div class="p-2 bg-light rounded border">
                                {{rujukan.noKunjungan}}
                            </div>
                        </div>
                        <div class="w-100 mt-3"></div>
                        <div class="col">
                            <div class="text-muted">JADWAL DOKTER</div>
                            <div class="p-2 bg-light rounded border">
                                <div><small>POLIKLINIK {{jadwalDokter.namapoli}}</small></div>
                                <div>{{jadwalDokter.namadokter | uppercase}}</div>
                                <div class="text-muted"><small>{{jadwalDokter.jadwal}}</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="d-grid gap-2">
                                <button (click)="daftar()" class="btn fs-5 btn-success p-3" type="button"><i class="bi bi-save"></i>&nbsp; DAFTAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border" *ngIf="success">
                <div class="col-3 text-white p-4 bg-success" style="position: relative;">
                    <div style="line-height: 2rem; font-size: 2rem; font-weight: 500;">
                        REGISTRASI <br>
                        BERHASIL
                    </div>
                </div>
                <div class="col bg-light p-4">
                    <div class="row">
                        <div class="col">
                            <div class="fs-4 bold">{{pasien.nama}}</div>
                            <div>{{pasien.alamat}}</div>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="text-muted">KODE BOOKING</div>
                            <div class="p-2 bg-light rounded border">
                                {{dataBooking.kodebooking}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-muted">NOMOR ANTRIAN</div>
                            <div class="p-2 bg-light rounded border">
                                {{dataBooking.nomorantrean}}
                            </div>
                        </div>
                        <div class="w-100 mt-3"></div>
                        <div class="col">
                            <div class="text-muted">NOMOR RUJUKAN</div>
                            <div class="p-2 bg-light rounded border">
                                {{rujukan.noKunjungan}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-muted">NOMOR SEP</div>
                            <div class="p-2 bg-light rounded border">
                                {{sep.noSep}}
                            </div>
                        </div>
                        <div class="w-100 mt-3"></div>
                        <div class="col">
                            <div class="text-muted">JADWAL DOKTER</div>
                            <div class="p-2 bg-light rounded border">
                                <div><small>POLIKLINIK {{jadwalDokter.namapoli}}</small></div>
                                <div>{{jadwalDokter.namadokter | uppercase}}</div>
                                <div class="text-muted"><small>{{jadwalDokter.jadwal}}</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="d-grid gap-2">
                                <button (click)="done()" class="btn fs-5 btn-primary p-3" type="button"><i class="bi bi-check-circle-fill"></i>&nbsp; SELESAI</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="success" style="position: fixed; bottom: 50px; right: 10px; padding: 20px;">
    <button (click)="printAnjungan()" class="btn" pRipple><i class="bi bi-printer"></i> Print Ulang</button>
</div>

<div class="iframe-print">
    <iframe src="" id="iframePrintSepBpjs" frameborder="0" width="300px" height="300px;"></iframe>
    <iframe src="" id="iframePrintBookingBpjs" frameborder="0" width="300px" height="300px;"></iframe>
</div>

<app-error-handle></app-error-handle>