<div class="row justify-content-center pb-5" @fadeIn>
    <div class="col-10 text-center">
        <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">KODE BOOKING</h1>
        <input
            #search
            type="text"
            style="text-transform: uppercase; background: #327652; color: #ffdc2f; border-color: #5f9b7a;"
            (input)="onInputChange($event)"
            (blur)="onBlur()"
            (keydown)="listenKey($event)"
            [(ngModel)]="kodeBooking"
            value={{kodeBooking}}
            maxlength="16"
            class="form-control p-2 fs-1 text-center input">

        <p class="fs-5" style="color: #21583b;">Scan Barcode / Input Keyboard</p>

        <div class="pt-2">
            <app-numpad></app-numpad>
        </div>
    </div>
    <div class="col-10 pt-3">
        <hr>
        <div class="row">
            <div class="col text-start">
                <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="back()" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
            </div>
        </div>

    </div>
</div>