<div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-9">
        <div class="row justify-content-center">
            <div class="col-3 p-4 m-2 text-center btn-selection-dokter fs-2 rounded grey clickable" pRipple *ngFor="let item of number" (click)="keypadInput(item)">{{item}}</div>
            <div class="col-3 p-4 m-2 text-center btn-action-numpad fs-2 rounded grey clickable" pRipple (click)="hapusNumber()">HAPUS</div>
            <div class="col-3 p-4 m-2 text-center btn-selection-dokter fs-2 rounded grey clickable" pRipple (click)="keypadInput('0')">0</div>
            <div class="col-3 p-4 m-2 text-center btn-action-numpad fs-2 rounded grey clickable" pRipple (click)="ok()" >ENTER</div>
        </div>
    </div>
</div>