<p-sidebar
    [(visible)]="panelStatus"
    [fullScreen]="true"
    [showCloseIcon]="false"
    [modal]="true"
    (onShow)="ngAfterViewInit()"
    (onHide)="destroyKeyboard()"
    styleClass="dialog-booking-code">

    <div class="row">
        <div class="col text-end pe-4 fs-1"><i class="bi bi-x-lg clickable" (click)="panelStatus=false"></i></div>
    </div>

    <div class="row justify-content-center pb-5" *ngIf="jenisPasien == ''" @fade>
        <div class="col-10 text-center">
            <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">JENIS KUNJUNGAN</h1>
            <hr>
            <div class="row text-center">
                <div class="col m-2 p-0 pb-3 clickable bg-white shadow border rounded btn-online" pRipple (click)="setJenisPasien('rujukan')">
                    <h1 class="p-4 pb-1 mt-5 mb-5">RUJUKAN BARU</h1>
                    <p class="p-2 ps-4 pe-4 m-0" style="background-color: rgba(0, 0, 0, 0.1);">Untuk pasien lama yang memiliki rujukan baru.</p>
                </div>
                <div class="col m-2 p-0 pb-3 clickable bg-white shadow border rounded btn-tunai" pRipple (click)="setJenisPasien('kontrol')">
                    <h1 class="p-4 pb-1 mt-5 mb-5">RENCANA KONTROL</h1>
                    <p class="p-2 ps-4 pe-4 m-0" style="background-color: rgba(0, 0, 0, 0.1);">Untuk pasien yang dijadwal kontrol oleh dokter.</p>
                </div>
            </div>
        </div>
        <div class="col-10 pt-3 text-end">
            <hr>
            <button class="btn btn-warning fs-2 p-5 shadow pt-2 pb-2 btn-next" (click)="getPeserta()" pRipple>NEXT <i class="bi bi-chevron-right"></i></button>
        </div>
    </div>

    <div class="row justify-content-center pb-5" *ngIf="jenisPasien && !peserta.value.nama" @fade>
        <div class="col-10 text-center">
            <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">NO. KARTU BPJS / KIS</h1>
            <input type="text" style="text-transform: uppercase; background: #327652;
            color: #ffdc2f;
            border-color: #5f9b7a;" (input)="onInputChange($event)" #search (blur)="onBlur()" (keydown)="listenKey($event)" class="input" [(ngModel)]="value" value={{value}} class="form-control p-2 fs-1 text-center">
            <p class="fs-5" style="color: #21583b;">Scan Barcode / Input Keyboard</p>
            <div class="pt-2">
                <div class="simple-keyboard"></div>
            </div>
        </div>
        <div class="col-10 pt-3">
            <hr>
            <div class="row">
                <div class="col text-start">
                    <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="this.setJenisPasien('')" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
                </div>
                <div class="col text-end">
                    <button class="btn btn-warning fs-2 p-5 shadow pt-2 pb-2 btn-next" (click)="getPeserta()" pRipple>NEXT <i class="bi bi-chevron-right"></i></button>
                </div>
            </div>

        </div>
    </div>

    <div class="row justify-content-center pb-5" *ngIf="peserta.value.noKartu && data.rujukan.length==0 && data.sep.length==0" @fade>
        <div class="row p-4 justify-content-center">
            <div class="col-10 text-center mb-4">
                <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">DATA PESERTA BPJS</h1>
                <hr>
            </div>
            <div class="row justify-content-center">
                <form class="col-5" [formGroup]="peserta">
                    <div class="row mb-2">
                        <label for="nama" class="col col-form-label fs-3">NAMA PESERTA</label>
                        <div class="col-8">
                            <input type="email" readonly class="form-control fs-3" id="inputEmail3" formControlName="nama">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="nama" class="col col-form-label fs-3">TANGGAL LAHIR</label>
                        <div class="col-8">
                            <input type="email" readonly class="form-control fs-3" id="inputEmail3"
                                formControlName="tglLahir">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="nama" class="col col-form-label fs-3">USIA</label>
                        <div class="col-8">
                            <input type="email" readonly class="form-control fs-3" id="inputEmail3" formControlName="usia">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="nama" class="col col-form-label fs-3">JENIS KELAMIN</label>
                        <div class="col-8">
                            <input type="email" readonly class="form-control fs-3" id="inputEmail3"
                                formControlName="jnsKelamin">
                        </div>
                    </div>
                </form>
                <form class="col-5" [formGroup]="peserta">
                    <div class="row mb-2">
                        <label for="nama" class="col col-form-label fs-3">NO. KARTU BPJS</label>
                        <div class="col-8">
                            <input type="email" readonly class="form-control fs-3" id="inputEmail3"
                                formControlName="noKartu">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="nama" class="col col-form-label fs-3">NIK</label>
                        <div class="col-8">
                            <input type="email" readonly class="form-control fs-3" id="inputEmail3" formControlName="nik">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="nama" class="col col-form-label fs-3">JENIS PESERTA</label>
                        <div class="col-8">
                            <input type="email" readonly class="form-control fs-3" id="inputEmail3"
                                formControlName="jnsPeserta">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="nama" class="col col-form-label fs-3">PPK ASAL</label>
                        <div class="col-8">
                            <input type="email" readonly class="form-control fs-3" id="inputEmail3"
                                formControlName="ppkAsal">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="nama" class="col col-form-label fs-3">STATUS PESERTA</label>
                        <div class="col-8">
                            <input type="email" readonly class="form-control fs-3" id="inputEmail3"
                                formControlName="statusPeserta">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-10 pt-3 text-end">
            <hr>
            <div class="row">
                <div class="col text-start">
                    <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="this.peserta.reset(); this.buildKeyboard()" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
                </div>
                <div class="col text-end">
                    <button class="btn btn-warning fs-2 p-5 shadow pt-2 pb-2 btn-next" pRipple (click)="setJenisKunjungan()" >NEXT <i class="bi bi-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center pb-5" *ngIf="data.rujukan.length>0 && data.jadwal.length==0" @fade>
        <div class="col-10 text-center mb-4">
            <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">PILIH SURAT RUJUKAN</h1>
        </div>
        <div class="col-3 m-2 p-4 clickable bg-white shadow border rounded btn-selection-dokter"
            style="line-height: normal;" pRipple *ngFor="let item of data.rujukan"
            (click)="setDataRujukan(item)">
            <div>
                <span class="grey">No. Surat Rujukan :</span><br>
                <b class="fs-4">{{item.noKunjungan | uppercase}}</b>
            </div>
            <div class="mt-3">
                <span class="grey">Jenis Pelayanan :</span><br>
                <div class="fs-5">{{item.pelayanan.nama | uppercase}}</div>
            </div>
            <div class="mt-3">
                <span class="grey">Poli Tujuan :</span><br>
                <div class="fs-5">{{item.poliRujukan.nama | uppercase}}</div>
            </div>
            <div class="mt-3">
                <span class="grey">Diagnosa :</span><br>
                <div style="background-color: rgba(0, 0, 0, 0.1);" class="p-2 mt-1 rounded">{{item.diagnosa.kode}} -
                    {{item.diagnosa.nama}}</div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <span class="grey">Tanggal Kunjungan :</span><br>
                    <span>{{item.tglKunjungan}}</span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 pt-3 text-start">
                <hr>
                <div class="row">
                    <div class="col text-start">
                        <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="data.rujukan=[]" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row justify-content-center pb-5" *ngIf="data.sep.length>0 && data.jadwal.length==0" @fade>
        <div class="col-10 text-center mb-4">
            <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">PILIH KUNJUNGAN SEBELUMNYA</h1>
        </div>
        <div class="col-3 m-2 p-2 clickable bg-white shadow border rounded btn-selection-dokter"
            style="line-height: normal;" pRipple *ngFor="let item of data.sep" (click)="setHistory(item)">
            <div class="p-3 mb-2 rounded" style="background-color: rgb(227 227 227);">
                <div>
                    <span class="grey">Tanggal :</span><br>
                    <span class="fs-5">{{reformatDate(item.tglSep)}}</span>
                </div>
                <div class="mt-2">
                    <span class="grey">Poliklinik :</span><br>
                    <div class="fs-5 fs-3">{{item.poli | uppercase}}</div>
                </div>
            </div>
            <div class="p-3 pt-1 pb-2">
                <span class="grey">No. SEP :</span><br>
                <span>{{item.noSep | uppercase}}</span>
            </div>
            <div class="p-3 pt-1 pb-2">
                <span class="grey">No. Rujukan :</span><br>
                <div>{{item.noRujukan | uppercase}}</div>
            </div>
            <div class="p-3 pt-1 pb-4">
                <span class="grey">Diagnosa :</span><br>
                <div>{{item.diagnosa | uppercase}}</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 pt-3 text-start">
                <hr>
                <div class="row">
                    <div class="col text-start">
                        <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="data.sep=[]" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row justify-content-center pb-5" *ngIf="data.jadwal.length>0 && !review" @fade>
        <div class="col-10 text-center mb-2">
            <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">PILIH JADWAL DOKTER</h1>
        </div>

        <div class="row" *ngIf="data.jadwal.length > 0">
            <div class="col" style="background-color: rgba(0, 0, 0, 0.1);">
                <p class="text-center fs-5 p-3 m-0">HARI INI - POLIKLINIK {{data.jadwal[0].namapoli}}.</p>
            </div>
        </div>
        <div class="row p-4 justify-content-center">
            <div class="col-3 m-2 p-0 clickable bg-white shadow border rounded btn-selection-dokter" pRipple
                *ngFor="let item of data.jadwal" (click)="setJadwal(item)">
                <div class="row">
                    <div class="col-4 p-1">
                        <img width="100%"
                            src="https://st.depositphotos.com/1771835/1477/i/600/depositphotos_14779771-stock-photo-portrait-of-confident-young-doctor.jpg"
                            alt="Dokter">
                    </div>
                    <div class="col p-3" style="line-height: normal;">
                        <div class="mt-2">
                            <small class="grey">Nama Dokter :</small><br>
                            <div class="fs-5">{{item.namadokter}}</div>
                        </div>
                        <div class="mt-2">
                            <small class="grey">Hari :</small><br>
                            <div class="fs-5">{{item.namahari}}</div>
                        </div>
                        <div class="mt-2">
                            <small class="grey">Jam Praktek :</small><br>
                            <div class="fs-5">{{item.jadwal}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 pt-3 text-start">
                <hr>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="data.jadwal=[]" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center pb-5" *ngIf="review" @fade>
        <div class="row p-4 justify-content-center">
            <div class="col-10 text-center mb-4">
                <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">KONFIRMASI DATA</h1>
                <hr>
            </div>
            <div class="row justify-content-center">
                <div class="col-5 btn-selection-dokter">
                    <div class="mt-3">
                        <span class="grey">Nama :</span><br>
                        <div class="fs-5">{{peserta.value.nama | uppercase}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="grey">Jenis Kelamin :</span><br>
                        <div class="fs-5">{{peserta.value.jnsKelamin | uppercase}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="grey">Tanggal Lahir :</span><br>
                        <div class="fs-5">{{peserta.value.tglLahir | uppercase}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="grey">Usia :</span><br>
                        <div class="fs-5">{{peserta.value.usia | uppercase}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="grey">No. Peserta :</span><br>
                        <div class="fs-5">{{peserta.value.noKartu | uppercase}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="grey">Status :</span><br>
                        <div class="fs-5">{{peserta.value.statusPeserta.keterangan | uppercase}}</div>
                    </div>
                </div>

                <div class="col-5">
                    <div class="mt-3">
                        <span class="grey">Jenis Kunjungan :</span><br>
                        <div class="fs-5">{{jenisPasien | uppercase}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="grey">Poliklinik :</span><br>
                        <div class="fs-5">{{selected.poli.nama | uppercase}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="grey">Jadwal Dokter :</span><br>
                        <div class="fs-5">
                            {{selected.jadwal.namadokter}} <br>
                            {{selected.jadwal.jadwal}}
                        </div>
                    </div>
                    <div class="mt-3">
                        <span class="grey">No. Rujukan :</span><br>
                        <div class="fs-5">{{selected.rujukan | uppercase}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="grey">No. Surat Kontrol :</span><br>
                        <div class="fs-5">{{selected.suratKontrol.noSuratKontrol}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 pt-3 text-end">
            <hr>
            <div class="row">
                <div class="col text-start">
                    <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="this.review=false" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
                </div>
                <div class="col text-end">
                    <button class="btn btn-warning fs-2 p-5 shadow pt-2 pb-2 btn-next" pRipple (click)="setJenisKunjungan()" >NEXT <i class="bi bi-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="loading-panel" *ngIf="loading">
        <div class="wrapper vcenter-item">
            <div class="box display-5"><span class="blink">Loading...</span></div>
        </div>
    </div>

</p-sidebar>