<p-sidebar
    [(visible)]="panelStatus"
    [fullScreen]="true"
    [showCloseIcon]="false"
    [modal]="true"
    styleClass="dialog-booking-code">

    <div class="row">
        <div class="col text-end pe-4 fs-1"><i class="bi bi-x-lg clickable" (click)="closePanel()"></i></div>
    </div>

    <app-cari-peserta></app-cari-peserta>
    <app-data-peserta></app-data-peserta>
    <app-pilih-jenis-kunjungan></app-pilih-jenis-kunjungan>
    <app-data-rujukan></app-data-rujukan>
    <app-data-history-sep></app-data-history-sep>
    <app-jadwal-dokter></app-jadwal-dokter>
    <app-konfirmasi-data></app-konfirmasi-data>

</p-sidebar>