<div class="row justify-content-center pb-5" *ngIf="!rujukan && jenisKunjungan == 'rujukan'" @fadeIn>
    <div class="col-10 text-center mb-4">
        <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">PILIH SURAT RUJUKAN</h1>
    </div>
    <div pRipple
        class="col-3 m-2 p-4 clickable bg-white shadow border rounded btn-selection-dokter"
        style="line-height: normal;"
        *ngFor="let item of dataRujukanFaskes.rujukan"
        (click)="pilihRujukan(item, dataRujukanFaskes.asalFaskes)">

        <div>
            <span class="grey">No. Surat Rujukan :</span><br>
            <b class="fs-4">{{item.noKunjungan | uppercase}}</b>
        </div>
        <div class="mt-3">
            <span class="grey">Jenis Pelayanan :</span><br>
            <div class="fs-5">{{item.pelayanan.nama | uppercase}}</div>
        </div>
        <div class="mt-3">
            <span class="grey">Poli Tujuan :</span><br>
            <div class="fs-5">{{item.poliRujukan.nama | uppercase}}</div>
        </div>
        <div class="mt-3">
            <span class="grey">Diagnosa :</span><br>
            <div style="background-color: rgba(0, 0, 0, 0.1);" class="p-2 mt-1 rounded">{{item.diagnosa.kode}} -
                {{item.diagnosa.nama}}</div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <span class="grey">Tanggal Kunjungan :</span><br>
                <span>{{item.tglKunjungan}}</span>
            </div>
        </div>
    </div>
    <div pRipple
        class="col-3 m-2 p-4 clickable bg-white shadow border rounded btn-selection-dokter"
        style="line-height: normal;"
        *ngFor="let item of dataRujukanRs.rujukan"
        (click)="pilihRujukan(item, dataRujukanRs.asalFaskes)">

        <div>
            <span class="grey">No. Surat Rujukan :</span><br>
            <b class="fs-4">{{item.noKunjungan | uppercase}}</b>
        </div>
        <div class="mt-3">
            <span class="grey">Jenis Pelayanan :</span><br>
            <div class="fs-5">{{item.pelayanan.nama | uppercase}}</div>
        </div>
        <div class="mt-3">
            <span class="grey">Poli Tujuan :</span><br>
            <div class="fs-5">{{item.poliRujukan.nama | uppercase}}</div>
        </div>
        <div class="mt-3">
            <span class="grey">Diagnosa :</span><br>
            <div style="background-color: rgba(0, 0, 0, 0.1);" class="p-2 mt-1 rounded">{{item.diagnosa.kode}} -
                {{item.diagnosa.nama}}</div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <span class="grey">Tanggal Kunjungan :</span><br>
                <span>{{item.tglKunjungan}}</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10 pt-3 text-start">
            <hr>
            <div class="row">
                <div class="col text-start">
                    <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="back()" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
                </div>
            </div>

        </div>
    </div>
</div>