<div class="container-fluid banner">
  <div class="row p-5 pt-3">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div class="row mb-3">
        <div class="col">
          <img src="assets/hesti.png" alt="Logo Hesti" height="48px">
          <img src="assets/kodam.png" alt="Logo Hesti" height="48px">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="title display-6">RS. SALAK BOGOR</h1>
          <p>Pusat pelayanan online dan terintegrasi.</p>

        </div>
      </div>
      <div class="row button-group">
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow border rounded thumbnail text-center">
          <img src="assets/registrasi.png" alt="Registrasi Online">
          <p>Registrasi Online</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow border rounded thumbnail text-center">
          <img src="assets/kontrol.png" alt="Rencana Kontrol">
          <p>Rencana Kontrol</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow border rounded thumbnail text-center">
          <img src="assets/jadwal.png" alt="Jadwal Dokter / Poliklinik">
          <p>Jadwal Dokter /<br>Poliklinik</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow border rounded thumbnail text-center">
          <img src="assets/antrian.png" alt="Antrian Online">
          <p>Antrian Online</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Ketersediaan<br>Kamar Rawat</p>
        </div>
      </div>
    </div>
    <div class="col">&nbsp;</div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col shadow p-3 m-3">
      <h1 class="lead">Registrasi Online</h1>
      <hr>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-0 text-center d-none d-md-block">
          <img src="assets/registrasi.png" alt="Pasien" style="height: 250px;">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
          <div>
            <p-tabView>
              <p-tabPanel header="Kartu Pasien">
                <form>
                  <div class="mb-3">
                    <label for="No.RM" class="form-label">No. Rekam Medis</label>
                    <input type="text" class="form-control">
                    <div id="emailHelp" class="form-text">Nomor rekam medis tercantum pada kartu pasien anda.</div>
                  </div>
                  <div class="md-3 text-end">
                    <p-button label="Next" icon="pi pi-angle-right" iconPos="right"></p-button>
                  </div>
                </form>
              </p-tabPanel>
              <p-tabPanel header="Kartu BPJS">
                <form>
                  <div class="mb-3">
                    <label for="No.RM" class="form-label">No. Kartu BPJS</label>
                    <input type="text" class="form-control">
                    <div id="emailHelp" class="form-text">Nomor kartu bpjs tercantum pada kartu bpjs anda.</div>
                  </div>
                  <div class="md-3 text-end">
                    <p-button label="Next" icon="pi pi-angle-right" iconPos="right"></p-button>
                  </div>
                </form>
              </p-tabPanel>
            </p-tabView>
            <hr class="mt-1">
            <p>Apakah anda pasien baru? <a href="#" class="link-info">Daftar Sekarang</a></p>
          </div>
          <div>
            <div class="mb-3 border rounded p-3 shadow-sm" style="font-size: 0.85rem; background-color: #fffcf0;">
              <h1 class="lead">FAZRI ANGGRIAWAN</h1>
              <div>LAKI-LAKI, 33 thn.</div>
              <div>18-09-1988</div>
              <div>Taman Anyelir 3 Blok K6 No.1</div>
            </div>
            <div class="mb-4">
              <div>Poliklinik :</div>
              <div>
                <select class="form-select" aria-label="Default select example">
                  <option selected></option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-2">Dokter :</div>
              <div>
                <select class="form-select" aria-label="Default select example">
                  <option selected></option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="mt-3">Pilih Tanggal Kedatangan :</div>
              <div class="mb-2" style="font-size: 0.85rem;">Silahkan pilih tanggal yang tersedia</div>
              <p-calendar [inline]="true" [disabledDays]="[0,1,2,6]"></p-calendar>

              <div class="mt-3">
                <p-button label="Next" icon="pi pi-angle-right" iconPos="right"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Syaraf</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Jantung</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Penyakit Dalam / Internis</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Anak</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Bedah</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Bedah Tulang</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Kandungan</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Kulit dan Kelamin</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Mata</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Nyeri Intervensi</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Paru</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Psikiatri</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>THT</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Umum</p>
        </div>
        <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow-sm border rounded thumbnail text-center">
          <img src="assets/bed.png" alt="BPJS Kesehatan">
          <p>Urologi</p>
        </div>
      </div>
    </div>
  </div>
</div>