<div style="position: fixed; height: 100%; width: 100%; overflow: hidden">
    <div class="row justify-content-center p-3 bg-dark text-white">
        <div class="col-md-10">
            <div class="row">
                <div class="col-sm-2 col-md-2 text-end d-none d-md-block">
                    <img src="assets/hesti.png" alt="Logo Salak" style="height: 50px;">
                </div>
                <div class="col-sm-10 col-md-7 d-none d-md-block">
                    <h1 class="fs-3 mb-0">RUMKIT TK II Prof. dr. J.A. LATUMETEN AMBON</h1>
                    <div>PELAYANAN MANDIRI TERINTEGRASI</div>
                </div>
                <div class="col-md-2 d-none d-md-block">
                    <!-- <img src="assets/hesti.png" alt="Logo Salak" height="50px">
                    <img src="assets/kodam.png" alt="Logo Salak" height="50px"> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <h1 class="fs-3 text-center p-3">NOMOR ANTRIAN</h1>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-sm-5 col-lg-3 m-2 p-0 clickable bg-white shadow border rounded btn-pasien-baru" (click)="getAntrianTni()" pRipple>
            <h2 class="ms-3 mt-4">
                <ul>
                    <li>TNI</li>
                    <li>KELUARGA TNI</li>
                    <li>PURNAWIRAWAN</li>
                </ul>
            </h2>
            <div class="text-center p-3 mt-5" style="background-color: rgba(0,0,0, 0.5);">
                NOMOR ANTRIAN
                <div class="fs-1">
                    {{antrian.tni}}
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-lg-3 m-2 p-0 pb-2 clickable bg-white shadow border rounded btn-tunai" (click)="getAntrianBpjs()" pRipple>
            <h2 class="ms-4 mt-4">
                BPJS <br>
                KESEHATAN
                <div style="padding: 2px;">&nbsp;</div>
            </h2>
            <div class="text-center p-3 mt-5" style="background-color: rgba(0,0,0, 0.5);">
                NOMOR ANTRIAN
                <div class="fs-1">
                    {{antrian.bpjs}}
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-lg-3 m-2 p-0 pb-2 clickable bg-white shadow border rounded btn-online" (click)="getAntrianTunai()" pRipple>
            <h2 class="ms-4 mt-4">
                PASIEN <br>
                UMUM
                <div style="padding: 2px;">&nbsp;</div>
            </h2>
            <div class="text-center p-3 mt-5" style="background-color: rgba(0,0,0, 0.5);">
                NOMOR ANTRIAN
                <div class="fs-1">
                    {{antrian.tunai}}
                </div>
            </div>
        </div>
    </div>

    <div>
        <iframe hidden src="" id="iframePrint" frameborder="1" width="300px" height="300px;"></iframe>
    </div>
</div>

<div (click)="back()" class="border-bottom text-secondary clickable" pRipple style="position: absolute; top: 100px; left: 10px; padding: 20px 30px;">
    <span class="bi bi-chevron-left"></span>&nbsp; KEMBALI
</div>

<div hidden (click)="reset()" class="text-secondary clickable" pRipple style="position: absolute; bottom: 50px; right: 10px; padding: 20px 30px;">
    <span class="bi bi-arrow-clockwise"></span>&nbsp; RESET ANTRIAN
</div>

<app-error-handle></app-error-handle>