<p-sidebar
    [(visible)]="panelStatus"
    [fullScreen]="true"
    [showCloseIcon]="false"
    [modal]="true"
    (onShow)="ngAfterViewInit()"
    (onHide)="destroyKeyboard()"
    styleClass="dialog-booking-code">

    <div class="row">
        <div class="col text-end pe-4 fs-1"><i class="bi bi-x-lg clickable" (click)="setPanelStatus('baru', false)"></i></div>
    </div>

    <div class="row justify-content-center pb-5" *ngIf="!jenisPasien">
        <div class="col-10 text-center">
            <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">CARI PASIEN</h1>
            <hr>
            <div class="row justify-content-center pt-2 mt-3">
                <div class="col-5 m-2 p-0 pb-3 clickable bg-white shadow border rounded btn-online" pRipple (click)="setJenisPasien('kartuPasien')">
                    <h1 class="p-4 pb-1 mt-5 mb-5">KARTU PASIEN</h1>
                    <p class="p-2 ps-4 pe-4 m-0" style="background-color: rgba(0, 0, 0, 0.1);">Daftar menggunakan nomor rekam medis pada kartu pasien.</p>
                </div>
                <div class="col-5 m-2 p-0 pb-3 clickable bg-white shadow border rounded btn-tunai" pRipple (click)="setJenisPasien('tglLahir')">
                    <h1 class="p-4 pb-1 mt-5 mb-5">TANGGAL LAHIR</h1>
                    <p class="p-2 ps-4 pe-4 m-0" style="background-color: rgba(0, 0, 0, 0.1);">Daftar menggunakan tanggal lahir pasien.</p>
                </div>
            </div>
        </div>
        <div class="col-10 pt-3 text-start">
            <hr>
            <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="setPanelStatus('baru', false)"><i class="bi bi-chevron-left"></i> BACK</button>
        </div>
    </div>

    <div class="row justify-content-center pb-5" *ngIf="jenisPasien=='kartuPasien' && !peserta.value.norm" @fade>
        <div class="col-10 text-center">
            <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">NO. REKAM MEDIS / NO. RM</h1>
            <input type="text" style="text-transform: uppercase; background: #327652;
                color: #ffdc2f;
                border-color: #5f9b7a;" (input)="onInputChange($event)" #search (blur)="onBlur()"
                (keydown)="listenKey($event)" class="input" [(ngModel)]="value" value={{value}}
                class="form-control p-2 fs-1 text-center">
            <p class="fs-5" style="color: #21583b;">Scan Barcode / Input Keyboard</p>
            <div class="pt-2">
                <div class="simple-keyboard" @fade></div>
            </div>
        </div>
        <div class="col-10 pt-3 text-end">
            <hr>
            <div class="row">
                <div class="col text-start">
                    <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="setJenisPasien('')" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
                </div>
                <div class="col text-end">
                    <button class="btn btn-warning fs-2 p-5 shadow pt-2 pb-2 btn-next" (click)="getPasien()" pRipple>NEXT <i class="bi bi-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center pb-5" *ngIf="jenisPasien=='tglLahir' && !peserta.value.norm" @fade>
        <div class="col-10">
            <h1 class="display-4 text-center mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">TANGGAL LAHIR</h1>

            <div class="row justify-content-center">
                <div class="col-3 m-2 rounded shadow btn-selection-dokter clickable" pRipple (click)="display.tanggal=true">
                    <div class="p-1 ps-1 fs-4 grey">Tanggal</div>
                    <hr class="m-0 p-0">
                    <div class="text-center p-4">
                        <div *ngIf="tanggal" class="display-5">{{tanggal}}</div>
                        <div *ngIf="!tanggal" class="light">
                            <i class="bi bi-calendar-date display-5"></i><br>
                            <span class="fs-3">Pilih Tanggal</span>
                        </div>
                    </div>
                </div>
                <div class="col-3 m-2 rounded shadow btn-selection-dokter clickable" pRipple (click)="display.bulan=true">
                    <div class="p-1 ps-1 fs-4 grey">Bulan</div>
                    <hr class="m-0 p-0">
                    <div class="text-center p-4">
                        <div *ngIf="bulan.name" class="display-5">{{bulan.name}}</div>
                        <div *ngIf="!bulan.name" class="light">
                            <i class="bi bi-calendar-month display-5"></i><br>
                            <span class="fs-3">Pilih Bulan</span>
                        </div>
                    </div>
                </div>
                <div class="col-3 m-2 rounded shadow btn-selection-dokter clickable" pRipple (click)="display.tahun=true">
                    <div class="p-1 ps-1 fs-4 grey">Tahun</div>
                    <hr class="m-0 p-0">
                    <div class="text-center p-4">
                        <div *ngIf="tahun" class="display-5">{{tahun}}</div>
                        <div *ngIf="!tahun" class="light">
                            <i class="bi bi-calendar-week display-5"></i><br>
                            <span class="fs-3">Pilih Tahun</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 pt-3 text-end">
            <hr>
            <div class="row">
                <div class="col text-start">
                    <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="setJenisPasien('')" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
                </div>
                <div class="col text-end">
                    <button class="btn btn-warning fs-2 p-5 shadow pt-2 pb-2 btn-next" (click)="getPasien()" pRipple>NEXT <i class="bi bi-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center pb-5" *ngIf="peserta.value.norm && data.poli.length==0" @fade>
        <div class="row p-4 justify-content-center">
            <div class="col-10 text-center mb-4">
                <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">DATA PASIEN</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 m-2 p-4 clickable bg-white shadow border rounded btn-selection-dokter" style="line-height: normal;" pRipple (click)="getPoli()" >
                    <div class="p-3 rounded" style="background-color: rgb(231, 231, 231);">
                        <span class="grey">Nama :</span><br>
                        <b class="fs-4">{{peserta.value.nama | uppercase}}</b>
                    </div>
                    <div class="mt-3">
                        <span class="grey">No. Rekam Medis :</span><br>
                        <div class="fs-5">{{peserta.value.norm | uppercase}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="grey">Tanggal Lahir :</span><br>
                        <div class="fs-5">{{peserta.value.tglLahir | uppercase}}</div>
                    </div>
                    <div class="mt-3">
                        <span class="grey">Jenis Kelamin :</span><br>
                        <div class="fs-5">
                            <span *ngIf="peserta.value.jnsKelamin == 'L'">LAKI-LAKI</span>
                            <span *ngIf="peserta.value.jnsKelamin == 'P'">PEREMPUAN</span>
                        </div>
                    </div>
                    <div class="mt-3">
                        <span class="grey">Alamat :</span><br>
                        <div class="fs-5">{{peserta.value.alamat | uppercase}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10 pt-3 text-end">
            <hr>
            <div class="row">
                <div class="col text-start">
                    <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="this.setJenisPasien(jenisPasien)" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
                </div>
                <div class="col text-end">
                    <button class="btn btn-warning fs-2 p-5 shadow pt-2 pb-2 btn-next" pRipple (click)="getPoli()" >NEXT <i class="bi bi-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="data.poli.length>0 && data.jadwal.length==0" @fade>
        <h1 class="display-4 mb-3 text-center" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">PILIH POLIKLINIK</h1>
        <div class="row p-4 justify-content-center">
            <div class="col-2 m-2 p-0 clickable bg-white shadow border rounded btn-selection" (click)="getJadwal(item.kode)" pRipple *ngFor="let item of data.poli">
                <h3 class="p-4 pb-0 m-0">{{item.ket | uppercase}}</h3>
                <p class="ps-4 pe-4 pt-1 pb-1 m-0" style="background-color: rgba(0, 0, 0, 0.1);">Lihat Jadwal Praktek <i class="bi bi-chevron-right"></i></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 pt-3 text-start">
                <hr>
                <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="data.poli=[]" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
            </div>
        </div>
    </div>

    <div class="row justify-content-center pb-5" *ngIf="data.jadwal.length>0" @fade>
        <div class="col-10 text-center mb-2">
            <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);">PILIH JADWAL DOKTER</h1>
        </div>

        <div class="row" *ngIf="data.jadwal.length > 0">
            <div class="col" style="background-color: rgba(0, 0, 0, 0.1);">
                <p class="text-center fs-5 p-3 m-0">HARI INI - POLIKLINIK {{data.jadwal[0].namapoli}}.</p>
            </div>
        </div>
        <div class="row p-4 justify-content-center">
            <div class="col-3 m-2 p-0 clickable bg-white shadow border rounded btn-selection-dokter" pRipple
                *ngFor="let item of data.jadwal">
                <div class="row">
                    <div class="col-4 p-1">
                        <img width="100%"
                            src="https://st.depositphotos.com/1771835/1477/i/600/depositphotos_14779771-stock-photo-portrait-of-confident-young-doctor.jpg"
                            alt="Dokter">
                    </div>
                    <div class="col p-3" style="line-height: normal;">
                        <div class="mt-2">
                            <small class="grey">Nama Dokter :</small><br>
                            <div class="fs-5">{{item.namadokter}}</div>
                        </div>
                        <div class="mt-2">
                            <small class="grey">Hari :</small><br>
                            <div class="fs-5">{{item.namahari}}</div>
                        </div>
                        <div class="mt-2">
                            <small class="grey">Jam Praktek :</small><br>
                            <div class="fs-5">{{item.jadwal}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 pt-3 text-start">
                <hr>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-secondary fs-2 p-5 shadow pt-2 pb-2" (click)="data.jadwal=[]" pRipple><i class="bi bi-chevron-left"></i> BACK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loading-panel" *ngIf="loading">
        <div class="wrapper vcenter-item">
            <div class="box display-5"><span class="blink">Loading...</span></div>
        </div>
    </div>

</p-sidebar>

<p-sidebar [(visible)]="display.tanggal" [fullScreen]="true" styleClass="dialog-booking-code">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);"><i class="bi bi-calendar-date"></i> TANGGAL LAHIR</h1>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center mt-3">
        <div class="col-2 p-4 m-2 text-center btn-selection-dokter fs-2 border shadow rounded grey clickable" pRipple *ngFor="let item of data.tglLahir" (click)="setTanggal(item)">{{item}}</div>
    </div>
</p-sidebar>

<p-sidebar [(visible)]="display.bulan" [fullScreen]="true" styleClass="dialog-booking-code">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);"><i class="bi bi-calendar-month"></i> BULAN LAHIR</h1>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center mt-3">
        <div class="col-2 p-4 m-2 text-center btn-selection-dokter fs-2 border shadow rounded grey clickable" pRipple *ngFor="let item of data.bulan" (click)="setBulan(item)">{{item.name}}</div>
    </div>
</p-sidebar>

<p-sidebar [(visible)]="display.tahun" [fullScreen]="true" styleClass="dialog-booking-code">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4 mb-3" style="text-shadow: 1px 1px 2px rgb(65, 65, 65);"><i class="bi bi-calendar-week"></i> TAHUN LAHIR</h1>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center mt-3">
        <div class="col-8">
            <input type="text" style="text-transform: uppercase; background: #327652; color: #ffdc2f; border-color: #5f9b7a;" #search class="form-control p-2 fs-1 text-center" [(ngModel)]="tahun">
        </div>
        <div class="col-8 pt-3">
            <div class="row justify-content-center">
                <div class="col-3 p-4 m-2 text-center btn-selection-dokter fs-2 border shadow rounded grey clickable" pRipple *ngFor="let item of data.number" (click)="keypadInput(item)">{{item}}</div>
                <div class="col-3 p-4 m-2 text-center btn-selection fs-2 border shadow rounded grey clickable" pRipple (click)="hapusNumber()">HAPUS</div>
                <div class="col-3 p-4 m-2 text-center btn-selection-dokter fs-2 border shadow rounded grey clickable" pRipple (click)="keypadInput('0')">0</div>
                <div class="col-3 p-4 m-2 text-center btn-selection fs-2 border shadow rounded grey clickable" pRipple (click)="display.tahun=false" >SELESAI</div>
            </div>
        </div>
    </div>
</p-sidebar>