<style type="text/styelsheet">
    body {
        overflow: hidden !important; /* Hide scrollbars */
    }

    .table-dashboard{
        background: black;
        height: 100%;
        width: 100%;
        position: fixed;
    }

    .table-dashboard tr th{
        background: #457539 !important;
        color: white;
        border-bottom: 2px solid black;
        border-top: 0;
        padding: 10px;
    }
    .table-dashboard tr{
        color: white;
        background: #232323;
    }

    .table-dashboard tr td{
        border: none;
    }

    .table-dashboard tr:nth-child(even){
        background: black;
    }

    .text-orange{
        color: orange;
    }

    .highlight{
        background: rgba(255,255,255,0.1);
    }

    .header-antrian{
        background: #60a94d;
        color: white;
        padding: 10px 30px;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .caller{
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgb(77 141 61);
        text-align: center;
        z-index: 999;
        top: 0;
        padding-top: 5%;
        background: rgb(56,148,6);
        background: linear-gradient(356deg, rgb(190 230 30) 6%, rgb(255 242 80) 98%);
    }


</style>
<div class="container-fluid" style="background: black;">
    <div class="row header-antrian">
        ANTRIAN PELAYANAN RAWAT JALAN
    </div>
    <div class="row table-dashboard">
        <p-table [value]="dataDashboard" dataKey="prefix" responsiveLayout="scroll" style="padding:0;">
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">Kode</th>
                    <th>Poliklinik</th>
                    <th>Antrian<br/>Sekarang</th>
                    <th>Antrian<br/>Selanjutnya</th>
                    <th>Estimasi Waktu Dilayani</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center">{{item.prefix}}</td>
                    <td class="text-orange">{{item.nama}}</td>
                    <td class="highlight">{{item.prefix}}-11</td>
                    <td>{{item.prefix}}-12</td>
                    <td>16:20 (20 menit)</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="container-fluid" style="display: none;">
    <div class="row p-2">
        <div class="col"></div>
        <div class="col-8">
            <p-calendar [(ngModel)]="tglKunjungan" dateFormat="dd-mm-yy" (onSelect)="getJadwalDokter()"></p-calendar>
            &nbsp;
            <p-dropdown [options]="dataPoli" [(ngModel)]="selectedPoli" optionLabel="ket" placeholder="Pilih Poli" (onChange)="getJadwalDokter()"></p-dropdown>
            &nbsp;
            <p-dropdown [options]="dataJadwalPraktek" [(ngModel)]="selectedJadwal" placeholder="Pilih Jadwal Dokter" (onChange)="getAntrian()">
                <ng-template pTemplate="selectedItem">
                    <div>({{selectedJadwal.jadwal}}) {{selectedJadwal.namadokter}} </div>
                </ng-template>
                <ng-template let-item pTemplate="item">
                    <div>({{item.jadwal}}) {{item.namadokter}} </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="col"></div>
    </div>
    <div class="row p-2">
        <div class="col"></div>
        <div class="col m-2 shadow border rounded thumbnail text-center p-3">
            <div>No. Antrian</div>
            <h1>{{lastCall.prefix_antrian}}-{{lastCall.no_antrian}}</h1>
            <!-- <button class="btn btn-sm btn-secondary">Recall</button> -->
            <div *ngIf="lastCall.prefix_antrian">
                <button class="btn btn-sm btn-primary" (click)="updateWaktuAntrian(5)" title="akhir waktu layan poli/mulai waktu tunggu farmasi">Task 5</button>&nbsp;
                <button class="btn btn-sm btn-primary" (click)="updateWaktuAntrian(6)" title="akhir waktu tunggu farmasi/mulai waktu layan farmasi membuat obat">Task 6</button>&nbsp;
                <button class="btn btn-sm btn-primary" (click)="updateWaktuAntrian(7)" title="akhir waktu obat selesai dibuat">Task 7</button>&nbsp;
                <button class="btn btn-sm btn-primary" (click)="updateWaktuAntrian(99)" title="tidak hadir/batal">Task 99</button>&nbsp;
            </div>
        </div>
        <div class="col m-2 shadow border rounded thumbnail text-center p-3" style="background-color: #ccdaff; color: #4e5d83; cursor: pointer;" (click)="callNext()">
            <h5 class="pt-2">CALL NEXT</h5>
            <div class="pt-1">No. Antrian :</div>
            <div style="font-size: 1rem; padding-top: 5px;">{{nextCall}}</div>
            <div><i>Update Waktu : Task 4</i></div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row p-2">
        <div class="col"></div>
        <div class="col-8">
            <p-table [value]="dataAntrian" dataKey="id" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Kode Booking</th>
                        <th>No. Antrian</th>
                        <th>Poliklinik</th>
                        <th>Update Waktu Antrian</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.booking_code}}</td>
                        <td>{{item.prefix_antrian}}-{{item.no_antrian}}</td>
                        <td>{{item.nama_poli}}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" (click)="updateWaktuAntrian(1)" title="mulai waktu tunggu admisi">Task 1</button>&nbsp;
                            <button class="btn btn-sm btn-primary" (click)="updateWaktuAntrian(2)" title="akhir waktu tunggu admisi/mulai waktu layan admisi">Task 2</button>&nbsp;
                            <button class="btn btn-sm btn-primary" (click)="updateWaktuAntrian(3)" title="akhir waktu layan admisi/mulai waktu tunggu poli">Task 3</button>&nbsp;
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div *ngIf="dataAntrian.length == 0" class="text-center alert">Tidak Ada Data Antrian Saat Ini.</div>
        </div>
        <div class="col"></div>
    </div>
</div>


<div class="container-fluid caller">
    <div class="row">
        <div class="col">
            <div style="font-size: 3rem;
    font-weight: bold;
    margin: 3%;">NO. ANTRIAN</div>
            <div style="padding: 0%;
    font-size: 8rem;
    background: #fefefe;
    margin: 3% 23%;
    font-weight: bold;
    border-radius: 7rem;">A1-11</div>
            <div style="font-size: 3rem;">POLIKLINIK ANAK</div>
            <div style="font-size: 2rem;">dr. Ferry Hadinata, Sp.A</div>
        </div>
    </div>
</div>