<style type="text/styelsheet">

    .panel-dashboard{
        background: black;
        height: 100%;
        width: 100%;
        position: fixed;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .table-dashboard tr th{
        background: #457539 !important;
        color: white;
        border-bottom: 2px solid black;
        border-top: 0;
        padding: 10px;
    }
    .table-dashboard tr{
        color: white;
        background: #232323;
        font-size: 1.8rem;
    }

    .table-dashboard tr td{
        border: none;
        padding-top: 1.9%;
        padding-bottom: 1.9%;
    }

    .table-dashboard tr:nth-child(even){
        background: black;
    }

    .text-orange{
        color: orange;
    }

    .highlight{
        background: rgb(3 145 245 / 16%);
    }

    .header-antrian{
        background: #60a94d;
        color: white;
        padding: 20px 30px;
    }

    .header-antrian h1{
        font-size: 2rem;
    }

    .caller{
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgb(77 141 61);
        text-align: center;
        z-index: 999;
        top: 0;
        padding-top: 40%;
        background: rgb(56,148,6);
        background: linear-gradient(356deg, rgb(190 230 30) 6%, rgb(255 242 80) 98%);
    }


</style>
<div class="container-fluid panel-dashboard">
    <div class="row header-antrian text-center">
        <h1>
            RS SALAK BOGOR - ANTRIAN RAWAT JALAN
        </h1>
        <h3><i class="bi bi-clock-history"></i> {{info_antrian.tanggal}} - {{info_antrian.jadwal}}</h3>
    </div>
    <div class="row table-dashboard">
        <div class="col p-0">
            <p-table [value]="dataDashboard" dataKey="prefix" responsiveLayout="scroll" [style]="{'width':'100%'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">Kode</th>
                        <th>Poliklinik</th>
                        <th>Antrian<br/>Sekarang</th>
                        <th>Antrian<br/>Selanjutnya</th>
                        <th>Estimasi <br> Jam Dilayani</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td class="text-center">
                            {{item.poli.prefix_antrian}}
                        </td>
                        <td class="text-orange">
                            {{item.poli.nama_poli}}
                        </td>
                        <td class="highlight text-center">
                            <div *ngIf="item.called">{{item.called.prefix_antrian}}-{{item.called.no_antrian}}</div>
                        </td>
                        <td class="text-center" style="color: silver;">
                            <div *ngIf="item.waiting">
                                {{item.waiting.prefix_antrian}}-{{item.waiting.no_antrian}}
                            </div>
                        </td>
                        <td class="text-center" style="color: silver;">
                            <div *ngIf="item.waiting.estimasi && item.called.estimasi">{{ item.called.estimasi }}</div>
                            <div *ngIf="!item.called.estimasi && item.waiting.estimasi">{{ item.waiting.estimasi }}</div>
                            <div *ngIf="item.called.estimasi && !item.waiting.estimasi">-</div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div class="container-fluid callera">
    <div class="row">
        <div class="col">
            <div style="font-size: 5rem;
    font-weight: bold;
    margin: 3%;">NO. ANTRIAN</div>
            <div style="padding: 0%;
    font-size: 12rem;
    background: #fefefe;
    margin: 3% 5%;
    font-weight: bold;
    border-radius: 9rem;">A1-11</div>
            <div style="font-size: 4rem; font-weight: bold; margin-bottom: 4rem;">POLIKLINIK<br>REHABILITASI MEDIK</div>
            <div style="font-size: 3rem;">dr. Ferry Hadinata, Sp.A</div>
        </div>
    </div>
</div>