/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

.banner{
    background: url('assets/background_rs.png') no-repeat;
    background-color: #f5f8fc;
    background-size: cover;
    /* max-height: 550px; */
}

.title{
    font-size: 1.75rem;
    margin: 0;
}

.thumbnail{
    font-size: 0.85rem;
    line-height: 1rem;
}

.thumbnail img{
    width: 70px;
    margin-bottom: 10px;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{ color: #00beff; }

.button-group .thumbnail:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3)!important;
    cursor: pointer;
    background-color: aliceblue !important;
}

.p-datepicker table th, .p-datepicker table td {
    text-align: center;
}

.p-disabled {
    /* color: red !important; */
}

.p-datepicker table td.p-datepicker-today > span{
    background: none;
}

.blink{
    animation: blink 1s linear infinite;
    margin-top: 75%;
}

@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}

.loading-panel{
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    vertical-align: middle;
}