<div class="container-fluid banner">
    <div class="row p-5 pt-3">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="row mb-3">
                <div class="col">
                    <img src="assets/hesti.png" alt="Logo Hesti" height="48px">
                    <img src="assets/kodam.png" alt="Logo Hesti" height="48px">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1 class="title display-6">RS. SALAK BOGOR</h1>
                    <p>Pusat pelayanan online dan terintegrasi.</p>

                </div>
            </div>
            <div class="row button-group">
                <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow border rounded thumbnail text-center"
                     routerLink="registrasiOnline">
                    <img src="assets/registrasi.png" alt="Registrasi Online">
                    <p>Registrasi Online</p>
                </div>
                <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow border rounded thumbnail text-center">
                    <img src="assets/kontrol.png" alt="Rencana Kontrol">
                    <p>Rencana Kontrol</p>
                </div>
                <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow border rounded thumbnail text-center">
                    <img src="assets/jadwal.png" alt="Jadwal Dokter / Poliklinik">
                    <p>Jadwal Dokter /<br>Poliklinik</p>
                </div>
                <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow border rounded thumbnail text-center">
                    <img src="assets/antrian.png" alt="Antrian Online">
                    <p>Antrian Online</p>
                </div>
                <div class="col col-md-2 col-lg-2 m-2 p-4 bg-white shadow border rounded thumbnail text-center">
                    <img src="assets/bed.png" alt="BPJS Kesehatan">
                    <p>Ketersediaan<br>Kamar Rawat</p>
                </div>
            </div>
        </div>
        <div class="col">&nbsp;</div>
    </div>
</div>

<!-- <app-caller></app-caller> -->

<p-sidebar [(visible)]="panelRegistrasi" [fullScreen]="true" (onHide)="hidePanelRegistrasi()">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-3">
                <h1 class="lead">Registrasi Online</h1>
                <hr>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-0 text-center d-none d-md-block">
                        <img src="assets/registrasi.png" alt="Pasien" style="height: 250px;">
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <div *ngIf="!dataPasien.nama">
                            <p-tabView>
                                <p-tabPanel header="Kartu Pasien">
                                    <form>
                                        <div class="mb-3">
                                            <label for="No.RM" class="form-label">No. Rekam Medis</label>
                                            <input type="text" class="form-control" [(ngModel)]="noRm" name="noRm">
                                            <div id="emailHelp" class="form-text">Nomor rekam medis tercantum pada kartu
                                                pasien anda.</div>
                                        </div>
                                        <div class="md-3 text-end">
                                            <p-button label="Next" icon="pi pi-angle-right" iconPos="right"
                                                (click)="getPasienSIMRS()"></p-button>
                                        </div>
                                    </form>
                                </p-tabPanel>
                                <p-tabPanel header="Kartu BPJS">
                                    <form>
                                        <div class="mb-3">
                                            <label for="No.RM" class="form-label">No. Kartu BPJS</label>
                                            <input type="text" class="form-control" [(ngModel)]="noKartuBPJS"
                                                name="noKartuBPJS">
                                            <div id="emailHelp" class="form-text">Nomor kartu bpjs tercantum pada kartu
                                                bpjs anda.</div>
                                        </div>
                                        <div class="md-3 text-end">
                                            <p-button label="Next" icon="pi pi-angle-right" (click)="getPasienBPJS()"
                                                iconPos="right"></p-button>
                                        </div>
                                    </form>
                                </p-tabPanel>
                            </p-tabView>
                            <hr class="mt-1">
                            <p>Apakah anda pasien baru? <a href="#" class="link-info">Daftar Sekarang</a></p>
                        </div>
                        <div *ngIf="dataPasien.nama">
                            <div>Pasien :</div>
                            <div class="mb-3 border rounded p-3 shadow-sm"
                                style="font-size: 0.9rem; background-color: #fffcf0;">
                                <h1 class="lead">{{dataPasien.nama}}</h1>
                                <div>
                                    <span *ngIf="dataPasien.sex == 'L'">LAKI-LAKI</span>
                                    <span *ngIf="dataPasien.sex == 'P'">PEREMPUAN</span>
                                </div>
                                <div>Tgl. Lahir : {{dateHuman(dataPasien.tglLahir)}}</div>
                            </div>
                            <form [formGroup]="formRegistrasi">
                                <div class="mb-4">
                                    <div>Pembayaran :</div>
                                    <div class="mb-2">
                                        <select class="form-select" formControlName="jnsPasien">
                                            <option selected></option>
                                            <option *ngFor="let item of dataJnsPasien" value="{{item.kode}}">
                                                {{item.nama}}</option>
                                        </select>
                                    </div>
                                    <div>Jenis Kunjungan :</div>
                                    <div class="mb-2">
                                        <select class="form-select" formControlName="jnsKunjungan"
                                            (change)="changeJnsKunjungan()">
                                            <option selected></option>
                                            <option *ngFor="let item of dataJnsKunjungan" value="{{item.kode}}">
                                                {{item.nama | uppercase}}</option>
                                        </select>
                                    </div>
                                    <div
                                        *ngIf="formRegistrasi.value.jnsKunjungan == 1 && formRegistrasi.value.jnsPasien == 'jkn'">
                                        <div>Surat Rujukan :</div>
                                        <div class="mb-2">
                                            <select class="form-select" formControlName="rujukan"
                                                (change)="changeRujukan()">
                                                <option selected></option>
                                                <option *ngFor="let item of dataRujukan" [value]="item.noKunjungan">
                                                    {{item.noKunjungan}} - POLI {{item.poliRujukan.nama | uppercase}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div
                                        *ngIf="formRegistrasi.value.jnsKunjungan == 3 && formRegistrasi.value.jnsPasien == 'jkn'">
                                        <div>Kunjungan Sebelumnya :</div>
                                        <div class="mb-2">
                                            <select class="form-select" formControlName="suratKontrol">
                                                <option selected></option>
                                                <option *ngFor="let item of dataSuratKontrol" [value]="item.noSep">
                                                    POLI {{item.poli | uppercase}} - Tanggal :
                                                    {{reformatDate(item.tglSep)}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div>Poliklinik :</div>
                                    <div class="mb-3">
                                        <select class="form-select" formControlName="poli" (change)="getJadwalDokter()">
                                            <option selected></option>
                                            <option *ngFor="let item of dataPoli" [value]="item.kode"
                                                [selected]="item.kode === selectedPoli">POLI {{item.nama | uppercase}}
                                            </option>
                                        </select>
                                    </div>
                                    <div>Tanggal Kedatangan :</div>
                                    <div class="mt-1">
                                        <p-calendar formControlName="tanggal" [style]="{'width':'100%'}"
                                            [inputStyle]="{'width':'100%'}" [inline]="true" [minDate]="today"
                                            (onSelect)="getJadwalDokter()" [showOtherMonths]="false">
                                        </p-calendar>
                                    </div>
                                    <div class="mb-2 mt-2">Silahkan pilih tanggal kedatangan untuk melihat jadwal dokter
                                        yang tersedia.</div>
                                    <div class="mt-4" *ngIf="statusJadwalDokter">
                                        <div class="mt-3 mb-2">Pilih Jadwal Dokter :</div>
                                        <div class="alert alert-danger" *ngIf="jadwalDokter.length == 0">Tidak ada
                                            jadwal dokter untuk tanggal
                                            {{formRegistrasi.value.tanggal.toLocaleDateString('en-GB')}}</div>
                                        <p-table [value]="jadwalDokter" selectionMode="single"
                                            [(selection)]="selectedDokter" dataKey="kodedokter"
                                            responsiveLayout="scroll" *ngIf="jadwalDokter.length > 0">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Dokter</th>
                                                    <th>Jadwal Praktek</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-item>
                                                <tr [pSelectableRow]="item">
                                                    <td>{{item.namadokter}}</td>
                                                    <td>{{item.jadwal}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div></div>
                                    </div>
                                    <hr>
                                    <div class="mt-3">
                                        <p-button label="Next" icon="pi pi-angle-right" (click)="next()"
                                            iconPos="right"></p-button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-sidebar>

<div class="loading-panel" *ngIf="loading">
    <div class="blink p-1">Loading...</div>
</div>

<div class="kodebooking-panel" *ngIf="kodeBooking != ''">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-5">
                <p>Registrasi Telah Berhasil. </p>
                <h1>KODE BOOKING</h1>
                <h1 style="padding: 15px; width: 270px; background-color:#9defcb; margin: auto;">{{kodeBooking}}</h1>
                <qr-code value="{{kodeBooking}}" size="300" errorCorrectionLevel="M"></qr-code>
                <p style="width: 90%; margin: auto; padding: 10px; border: 1px solid orange;">Scan Barcode di atas pada
                    mesin anjungan di bagian pendaftaran untuk pembuatan SEP.</p>
                <p style="padding: 10px; margin-top: 40px; background-color: #303030; color: #b9b9b9;">
                    Jika membutuhkan bantuan, silahkan datang ke loket pendaftaran. <br>
                    Terima Kasih.
                </p>
                <div style="position: absolute; top: 20px; right: 20px;">
                    <button class="btn btn-outline-secondary" (click)="hidePanelBooking()"><i class="bi bi-x-lg"></i>
                        Close</button>
                </div>
            </div>
        </div>
    </div>
</div>