<div class="row justify-content-center">
    <div class="col-3 clickable m-1 p-2 ps-3 pe-3 rounded border shadow btn-selection-dokter" pRipple>
        <div class="grey border-bottom">Suhu</div>
        <div class="fs-2 p-3">
            <b>36.5</b>&nbsp;<small class="grey"><sup>o</sup>C</small>
        </div>
    </div>
    <div class="col-3 clickable m-1 p-2 ps-3 pe-3 rounded border shadow btn-selection-dokter" pRipple>
        <div class="grey border-bottom">Berat Badan</div>
        <div class="fs-2 p-3">
            <b>67</b>&nbsp;<small class="grey">kg</small>
        </div>
    </div>
    <div class="col-3 clickable m-1 p-2 ps-3 pe-3 rounded border shadow btn-selection-dokter" pRipple>
        <div class="grey border-bottom">Tinggi Badan</div>
        <div class="fs-2 p-3">
            <b>156</b>&nbsp;<small class="grey">cm</small>
        </div>
    </div>
    <div class="col-3 clickable m-1 p-2 ps-3 pe-3 rounded border shadow btn-selection-dokter" pRipple>
        <div class="grey border-bottom">Tekanan Darah</div>
        <div class="fs-2 p-3">
            <b>90 / 110</b>
        </div>
    </div>
    <div class="col-3 clickable m-1 p-2 ps-3 pe-3 rounded border shadow btn-selection-dokter" pRipple>
        <div class="grey border-bottom">Nadi</div>
        <div class="fs-2 p-3">
            <b>110</b>&nbsp;<small class="grey">x/menit</small>
        </div>
    </div>
    <div class="col-3 m-1 p-2 ps-3 pe-3 rounded border shadow btn-selection-dokter">
        <div class="grey border-bottom">Pernapasan</div>
        <div class="fs-2 p-3">
            <b>60</b>&nbsp;<small class="grey">x/menit</small>
        </div>
    </div>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-5 m-1 p-2 ps-3 pe-3 rounded border shadow btn-selection-dokter">
        <div class="grey border-bottom">Keluhan Utama</div>
        <div class="p-3">
            <b class="fs-4">Sakit kepala</b>
            <div class="grey">Sejak : 24 Des 2021</div>
        </div>
    </div>
    <div class="col-5 m-1 p-2 ps-3 pe-3 rounded border shadow btn-selection-dokter">
        <div class="grey border-bottom">Keluhan Tambahan</div>
        <div class="p-3">
            <b class="fs-4">-</b>
        </div>
    </div>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-5 m-1 p-2 ps-3 pe-3 rounded border shadow btn-selection-dokter">
        <div class="grey border-bottom">Diagnosa Awal</div>
        <div class="p-3">
            <b class="fs-5">A00.0 - Cholera due to Vibrio cholerae 01, biovar cholerae</b>
        </div>
    </div>
    <div class="col-5 m-1 p-2 ps-3 pe-3 rounded border shadow btn-selection-dokter">
        <div class="grey border-bottom">Diagnosa Akhir</div>
        <div class="fs-2 p-3">
            <b>60</b>&nbsp;<small class="grey">x/menit</small>
        </div>
    </div>
</div>
